@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import 'tailwindcss';

@view-transition {
  navigation: auto;
}

body {
  @apply m-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

.header,
.navigation {
  /*font-family: 'Bytesized', sans-serif;*/
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
  font-size: 2px;
}

.active {
  color: rgb(92, 2, 2);
  transition: color 0.4s cubic-bezier(0.19, 0.01, 0.55, 1);
  position: relative;
  text-shadow: 2px 1px;
}

.active:hover {
  color: red;
}

.active::after {
  content: ' ';
  width: 100%;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bio {
  padding: 15px;
  border-image: url(/ui/Home/Bio-container.png) 100 fill / 64px / 0px space;
}
