@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import 'tailwindcss';

@view-transition {
  navigation: auto;
}

body {
  @apply m-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(190, 140, 30);
  background: #000D00;
  background: linear-gradient(175deg, rgba(0, 13, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
}


body::-webkit-scrollbar {
  display: none;
}

.header,
.navigation {
  /*font-family: 'Bytesized', sans-serif;*/
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
}

.active {
  color: rgb(190, 140, 30);
  transition: color 0.4s cubic-bezier(0.19, 0.01, 0.55, 1);
  position: relative;
  text-shadow: 1px 1px;
}

.active:hover {
  color: rgb(190, 180, 30);
}

.active::after {
  content: ' ';
  width: 100%;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.bio {
  padding: 15px;
  border-image: url(/ui/Home/Bio-container.png) 100 fill / 64px / 0px space;
}
